Google/
autostart/
dconf/
evolution/
flutter/
goa-1.0/
gtk-3.0/
ibus/
pop-shell/
pop-system-updater/
pulse/
touchegg/
.gsd-keyboard.settings-ported
gnome-initial-setup-done
mimeapps.list
user-dirs.dirs
user-dirs.locale
gtk-4.0/
kdeconnect/
